[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/terminal-bio"]
	path = themes/terminal-bio
	url = https://github.com/justinnuwin/hugo-theme-terminal.git
