<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ replace $.Site.Copyright "{year}" now.Year }}</span>
      </div>
      <div class="copyright">
        <span>:: ::</span>
      </div>
      <div class="copyright">
        <span>Theme made by <a href="https://twitter.com/panr">panr</a> and single-page layout by <a href="https://justinnuwin.com">justinnuwin</a>.</span>
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
  <script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
