<footer class="footer">
    <div class="socials">
        <a href="https://github.com/AzimMuradov" target="_blank">
            <img alt="GitHub" src="https://img.shields.io/badge/@AzimMuradov-white.svg?logo=github&logoColor=%23181717&logoWidth=&style=flat">
        </a>
        <a href="https://t.me/AzimMuradov" target="_blank">
            <img alt="Telegram" src="https://img.shields.io/badge/@AzimMuradov-white.svg?logo=telegram&logoColor=%2326A5E4&logoWidth=&style=flat">
        </a>
        <!--
            <a href="TODO" target="_blank">
                <img alt="Linked In" src="https://img.shields.io/badge/TODO-white.svg?logo=linkedin&logoColor=%230A66C2&logoWidth=&style=flat">
            </a>
        -->
        <!--
            <a href="https://www.buymeacoffee.com/azim.dev" target="_blank">
                <img alt="Buy me a coffee" src="https://img.shields.io/badge/Buy me a coffee-grey.svg?logo=buy me a coffee&logoColor=%23FFDD00&logoWidth=&style=flat">
            </a>
        -->
    </div>
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--message copyright--user">
        <span>{{ replace $.Site.Copyright "{year}" now.Year }}</span>
      </div>
      <div class="copyright">
        <span>:: ::</span>
      </div>
      <div class="copyright copyright--message">
        <span>Theme made by <a href="https://twitter.com/panr">panr</a> and single-page layout by <a href="https://justinnuwin.com">justinnuwin</a>.</span>
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
  <script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
